@model IEnumerable<DataLayer.Entities.Bushing>

@{
    ViewData["Title"] = "Index";
}

<h1>Втулки</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create"><span class="fas fa-folder-plus"></span></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PressedDiametr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlangeDiametr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColumnDiametr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepthHeight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PressedDiametr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlangeDiametr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColumnDiametr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalHeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepthHeight)
                </td>
                <td class="col-md-3">

                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><span class="fas fa-edit"></span></a>
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id"><span class="fas fa-info"></span></a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="fas fa-trash-alt"></span></a>

                </td>
            </tr>
        }
    </tbody>
</table>
<a class="col-md-3 offset-md-4 btn btn-secondary" asp-controller="Admin">
    Назад к администрированию
</a>
