@model IEnumerable<DataLayer.Entities.Press>

@{
    ViewData["Title"] = "ChoosePress";
    var oldId=(int)ViewData["OldId"];
}

<h1>Выберите пресс</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ppress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PressRamStroke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthAdapt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WidthAdapt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ppress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PressRamStroke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthAdapt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WidthAdapt)
            </td>
            <td>
            <td>
                <a class="btn btn-secondary" asp-controller="Stamps" asp-action="EditPress" asp-route-id="@item.Id" asp-route-oldId="@oldId">Выбрать </a>
            </td>
            
        </tr>
}
    </tbody>
</table>
