@model SpringView

@{
    ViewData["Title"] = "Spring";
    var name = (string)ViewData["Name"];
}


<h3>Пружина</h3>
<div class=" img-fluid">
    <img src="~/images/Пружина.png" width="400" height="350" />
</div>
<br />
<table class="table table-bordered">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diametr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthScrew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pspring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stroke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tmax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinAmountSpring)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        <tr>

            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Diametr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.LengthScrew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Pspring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Stroke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Tmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Tmax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MinAmountSpring)
            </td>
            <td>
                @{ // Получение текущего адреса
                    var request = ViewContext.HttpContext.Request;
                    var returnUrl = request.Path + request.QueryString.ToUriComponent();

                }
                <a class="btn btn-outline-info" asp-controller="Springs" asp-action="ChooseSpring" asp-route-diametr="@Model.Diametr" asp-route-oldId="@Model.Id" asp-route-url="@returnUrl"><span class="fas fa-edit"></span></a>

            </td>

        </tr>

    </tbody>
</table>
<div class="row">

    <a class="col-md-4 offset-md-4 btn btn-secondary" asp-controller="Stamps" asp-action="GetStamp" asp-route-stampName="@name"> Вернутся к штампу</a>

</div>