@model BottomPlateView
<h3>Нижняя плита</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hieght)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SfelfHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SfelfWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.СastLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.СastWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.СastHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalLength)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalWidth)
            </td>
            <td>
                @Html.DisplayFor(model => model.Hieght)
            </td>
            <td>
                @Html.DisplayFor(model => model.SfelfHeight)
            </td>
            <td>
                @Html.DisplayFor(model => model.SfelfWidth)
            </td>
            <td>
                @Html.DisplayFor(model => model.СastLength)
            </td>
            <td>
                @Html.DisplayFor(model => model.СastWidth)
            </td>
            <td>
                @Html.DisplayFor(model => model.СastHeight)
            </td>
            <td>
                @Html.DisplayFor(model => model.Weight)
            </td>
            <td>

                @{ // Получение текущего адреса
                    var request = ViewContext.HttpContext.Request;
                    var returnUrl = request.Path + request.QueryString.ToUriComponent();

                }

                <a class="btn btn-outline-info" asp-controller="BottomPlates" asp-action="Edit" asp-route-stampName="@Model.StampName" asp-route-returnUrl="@returnUrl"><span class="fas fa-edit"></span></a>
            </td>
        </tr>

    </tbody>
</table>
<div class="row">

    <a class="col-md-4 offset-md-4 btn btn-secondary" asp-controller="Stamps" asp-action="GetStamp" asp-route-stampName="@Model.StampName"> Вернутся к штампу</a>

</div>

