@model CoverView

<h3>Кожухи</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th  width="110">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.Diametr)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.TotalHeight)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.PressHeight)
            </th>
            
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.AmountCover)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Diametr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.TotalHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.PressHeight)
            </td>


            <td>
                @Html.DisplayFor(modelItem => modelItem.AmountCover)
            </td>

            <td  width="110">
                @{ // Получение текущего адреса
                    var request = ViewContext.HttpContext.Request;
                    var returnUrl = request.Path + request.QueryString.ToUriComponent();

                }

                <a class="btn btn-outline-info" asp-controller="Covers" asp-action="ChooseCover" asp-route-diametr="@Model.Diametr" asp-route-oldId="@Model.Id" asp-route-url="@returnUrl"><span class="fas fa-edit"></span></a>
                <a class="btn btn-outline-success" asp-controller="Covers" asp-action="DetailsView" asp-route-id="@Model.Id"><span class="fas fa-info"></span></a>
            </td>
        </tr>

    </tbody>
</table>
