
@model MatrixView

<h3>Матрица</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th  width="110" class="align-text-top">
                
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.Hieght)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.MinimAmountScrew)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Hieght)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MinimAmountScrew)
            </td>

            <td  width="110">

                @{ // Получение текущего адреса
                    var request = ViewContext.HttpContext.Request;
                    var returnUrl = request.Path + request.QueryString.ToUriComponent();

                }

                <a class="btn btn-outline-info" asp-controller="Matrices" asp-action="Edit" asp-route-stampName="@Model.StampName" asp-route-returnUrl="@returnUrl"><span class="fas fa-edit"></span></a>
                <a class="btn btn-outline-success" asp-controller="Matrices" asp-action="Details" asp-route-stampName="@Model.StampName"><span class="fas fa-info"></span></a>
                @*<a asp-action="Delete" asp-route-id="@Model.Name"><i class="fas fa-trash-alt"></i></a>*@ 
            </td>
            
        </tr>
       
    </tbody>
</table>
